.filter {
  width: 20rem;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.filter p {
  cursor: pointer;
}

.chevron {
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s linear;
}

.down {
  transform: rotate(0);
}

.up {
  transform: rotate(180deg);
}

.filter_box {
  position: relative;
}

.options {
  position: absolute;
  margin-top: 4px;
  width: 20rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  z-index: 1;
}
.options ul {
  list-style: none;
  text-align: left;
  padding: 2rem;
}

.options li {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.options li:hover {
  transform: scale(1.1);
}

.options li:active {
  transform: scale(0.98);
}

.options li:not(:first-child) {
  margin-top: 1rem;
}

.options.droped {
  max-height: 25rem;
}
.options.droped li {
  opacity: 1;
}
