.filter {
  width: 20rem;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.filter p {
  cursor: pointer;
}

.chevron {
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s linear;
}

.down {
  transform: rotate(0);
}

.up {
  transform: rotate(180deg);
}

.filter_box {
  position: relative;
}

.options {
  position: absolute;
  margin-top: 4px;
  width: 20rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  z-index: 1;
}
.options ul {
  list-style: none;
  text-align: left;
  padding: 2rem;
}

.option {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.option span {
  position: relative;
}

.option span:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-text);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.selected span::after {
  transform: scaleX(1);
}

.option:hover span:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.option:active {
  transform: scale(0.98);
}

.option:not(:first-child) {
  margin-top: 1rem;
}

.options.droped {
  max-height: 25rem;
}
.options.droped .option {
  opacity: 1;
}
