.countries-grid {
  max-width: 128.1rem;
  width: 100%;

  margin: auto;
  margin-top: 5rem;
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(264px, 264px));

  gap: 7.5rem;
  justify-content: center;
  /* display: flex;
  justify-content: space-between;
  flex-wrap: wrap; */
}

.spinner {
  font-size: 5rem;
  animation: spin infinite 3s linear;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
